.footer-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #00505e;
        gap: 150px;
        a {
            svg {
                width: 30px;
            }
            &:hover {
                scale: 1.1;
            }
        }
    }
}

/* @media screen and (max-width: 480px) {
    .footer {
        background-color: lightgreen;
    }
} */