body {
    margin: 0;
    padding: 0;
    background: rgb(21,68,78);
    background: linear-gradient(0deg, rgba(21,68,78,1) 0%, rgba(20,7,19,1) 100%);
    background-attachment: fixed;
}

/* ----------navbar-START */
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1000px;
    height: 70px;
}

a {
    text-decoration: none;
    color: white;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #00505e;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-btn:hover {
    scale: 1.1;
    font-size: 18px;
    background-color: #138fa5;
}
/* ----------navbar-END */

/* ----------img-1/2-START */
.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    width: 1000px;
}
/* ----------img-1/2-END */

/* ----------text-START */
.text-container {
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 150px;
    background-color: #00505e;
}

p {
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* ----------text-END */

/* ----------footer-START */
.footer-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #00505e;
    gap: 150px;
}
/* @media screen and (max-width: 480px) {
    .footer {
        background-color: lightgreen;
    }
} */

.footer a:hover {
    scale: 1.1;
}

svg {
    width: 30px;
}
/* ----------footer-END */
